/* PASTED */
@import url("https://font.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900$display=swap");
:root {
  --primaryColor: #04558E;
  --primaryColorLight: #3588CC;
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyColor: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: #E6DED1;
}

a {
  color: var(--primaryColorLight);
  text-decoration: none;
  word-wrap: break-word;
}

a:hover {
  color: var(--primaryColorLight);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  margin-top: 50px;
}

@media (max-width: 992px) {
  #main {
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 7px solid var(--primaryColor);
  border-top-color: #dcf5f2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--primaryColorLight);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--primaryColor);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #e9e8e6;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
  z-index: 997;
  padding: 5px 0;
}

#header .logo { 
  margin: 0;
  padding: 0;
}

#header .logo img {
  margin: 0;
  padding: 0;
  height: 49px;
  max-height: 49px;
  max-width: 100%;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
  padding-right: 15px;
}

.header-social-links a {
  color: var(--primaryColorLight);
  padding-left: 6px;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
  font-size: 18px;
}

.header-social-links a:hover {
  color: var(--primaryColor);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: var(--primaryColor);
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--primaryColorLight);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--primaryColorLight)
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
  padding: 0;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--primaryColorLight);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 15px;
  padding-right: 15px;
  color: var(--primaryColor);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--primaryColorLight);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: var(--primaryColorLight);
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/* HERO SECTION */

.Home {
  position: relative;
  height: 95vh;
  width: 100%;
  top: 0;
}
.Home .videoBg {
  position: absolute;
  height: 100%;
  width: 100%;
}
.Home .videoBg video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Home .sectionText {
  position: absolute;
  height: 100%;
  top: 30%;
  bottom: 50%;
  color: var(--whiteColor);
  padding: 0 1.3rem;
}
.Home .sectionText h1 {
  font-size: var(--biggestFontSize);
  font-weight: 900;
}
.Home .sectionText p {
  padding: 1rem 0;
  font-size: var(--normalFontSize);
  font-weight: 500;
}
.Home .sectionText .btn {
  gap: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: var(--h3FontSize);
}

@media (min-width: 480px) {
  .Home .sectionText {
    padding: 0 2rem;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .Home .sectionText h1 {
    font-size: var(--biggestFontSize);
    font-weight: 900;
  }
  .Home .sectionText p {
    padding: 1rem 0;
    font-size: var(--h2FontSize);
    max-width: 70%;
    margin: auto;
  }
  .Home .sectionText .btn {
    font-size: var(--h3FontSize);
    margin: auto;
  }
}

@media (min-width: 769px) {
  .Home .sectionText {
    width: 100%;
  }
  .Home .sectionText h1 {
    font-size: 4rem;
    font-weight: 900;
    max-width: 70%;
    margin: auto;
  }
  .Home .sectionText p {
    padding: 1rem 0;
    font-size: var(--h2FontSize);
    max-width: 70%;
    margin: auto;
  }
  .Home .sectionText .btn {
    gap: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: var(--h3FontSize);
    margin: auto;
  }
}

@media (min-width: 1040px) and (min-height: 520px) {
  .Home {
    position: relative;
  }
  .Home .sectionText h1 {
    font-size: 4.5rem;
    font-weight: 900;
    max-width: 70%;
    margin: auto;
  }  
}

@media (min-width: 1040px) and (min-height: 650px) {
  .Home {
    position: relative;
  }
  .Home .sectionText h1 {
    font-size: 4.5rem;
    font-weight: 900;
    max-width: 70%;
    margin: auto;
  }
}

@media (min-width: 1040px) and (min-height: 1040px) {
  .Home {
    position: relative;
  }
  .Home .sectionText h1 {
    font-size: 4.5rem;
    font-weight: 900;
    max-width: 70%;
    margin: auto;
  }
}

/*  */

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--borderRadius);
  padding: 0.8rem 1rem;
  color: var(--whiteColor);
  background: #266c9e;
}
.btn:hover {
  transition: 0.3s ease;
  color: var(--whiteColor);
  background: var(--primaryColorLight);
}

/* END HERO SECTION */


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #34b7a7;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 120px 0;
  color: #fff;
}

.section-bg:before {
  content: "";
  background: #1b1b1b;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.parallax-section {
  position: relative;
  background-image: url('https://static.wixstatic.com/media/3bba7a_a7fabc478f0e41899fbcaa84d3bf250d~mv2.jpeg/v1/fill/w_640,h_452,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/3bba7a_a7fabc478f0e41899fbcaa84d3bf250d~mv2.jpeg');
  background-attachment: fixed; /* Makes the background stay fixed */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full height for the parallax effect */
}

#about1 h2, #about2 h2, #about2 p, #about1 p {
  color: #08385a;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #e9e8e6;
  padding: 25px 0 15px;
  color: #222222;
  font-size: 14px;
  text-align: center;

}

#footer img {
  padding-top: 5px;
  width: 100px;
  height: 50px;
}

#contact {
  background-color: #241f20;
}

#contact #grid_1 p, #contact .grid_1 a{
  color: #ffffff;
}

#contact #grid_1 img{
  margin-top: -10px;
}

#contact p{
  font-size: 15px;
}
#contact li a {
  color: #AAAAAA
}

#contact li a:hover {
  text-decoration: none;
  color: #fff;
}

#contact .dropdown-item {
  color: #535353;
}

#contact .dropdown-item:hover {
  text-decoration: none;
  color: #444444;
}

#contact li {
  padding: 10px 0px;
  font-size: 13px;
}

#contact h4{
  font-size: 19px;
  font-weight: 600;
  color: rgb(226, 219, 219);
}

@media (max-width: 400px) {
  #contact #grid_2 h4{
    font-size: 17.5px;
  }

  #contact #grid_1 p{
    font-size: 14px;
  }

  #contact #grid_1 a{
    font-size: 13.5px;
  }

  
}

@media (min-width: 700px) {
  .parallax-section {
    background-image: url('../img/img22.png');
  }
}